<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="API" value="localhost:26888"/>-->
    <!--<add key="API" value="192.168.6.188:8013"/>-->
    <!--<add key="API" value="120.79.95.158:80"/>-->
    <add key="API" value="127.0.0.1:80"/>
    <add key="DocDirName" value="零件图纸"/>
  </appSettings>
</configuration>