<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="API" value="localhost:26888"/>
    <!--<add key="API" value="120.79.95.158:8011"/>-->
    <!--<add key="FtpSite" value="120.79.95.158:21"/>
    <add key="FtpUid" value="test"/>
    <add key="FtpPwd" value="3212512"/>
    <add key="FtpSiteDicPath" value="UploadTempDic/"/>-->
    <add key="FtpSite" value="192.168.1.119"/>
    <add key="FtpUid" value="hm_ftp"/>
    <add key="FtpPwd" value="123456"/>
    <add key="FtpSiteDicPath" value=""/>
  </appSettings>
</configuration>