
@{
    ViewBag.Title = "EQP_FailureReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="/Content/js/viewModel/com.viewModel.searchEdit.js"></script>
<script type="text/javascript">
    using(['validatebox', 'combobox','lookup','datebox','datetimebox','combogrid','combotree','extend','menu'],easyuifix.datagrid_editor_extend);
    using(['datebox']);
    var myself;
    var viewModel = function(data){ 
        var self = this;
       
        com.viewModel.searchEdit.apply(self,arguments);
        myself=self;
        this.gridEdit = new com.editGridViewModel(this.grid);
        this.SendReport=function(){
           
            var crow = myself.grid.datagrid('getSelected');
          
            if (crow==null) {
                com.message('success', "请选择需要发送报障单据！");
                return;
            }
            else{
                com.ajax({
                    type:'POST',
                    url:'/api/Mms/EQP_FailureReport/PostChangeReportState?id='+crow.ID,
                    success:function(d){
                        com.message('success',d);
                        window.location.reload();
                       
                    }
                });
               
                self.searchClick();
                
            }
        };
        this.addNewClick=function(){
            
            var failureReportCode="";
            com.ajax({
                type:'GET',
                url:'/api/Mms/EQP_FailureReport/GetFailureReportCode',
                async:false,
                success:function(d){
                    failureReportCode=d
                }
            });
           
            var row = $.extend(true,self.defaultRow, {});
            row.FailureReportCode=failureReportCode;
            self.gridEdit.addnew(row);
            
        }
        this.saveNewClick=function(){
            self.saveClick();

            self.searchClick();
        }
    } 
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    ko.bindingViewModel(new viewModel(data));
</script>
}
<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addNewClick">新增</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" title="编辑" data-bind="click:editClick">编辑</a>
    @*<a href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" title="删除" data-bind="click:deleteClick">删除</a>*@
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-save" title="保存" data-bind="click:saveNewClick">保存</a>
    <a href="#" plain="true" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'">导出</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-save" title="确认" data-bind="click:SendReport">确认发送</a>
</div>

<div id="dropdown" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-ext-xls'" suffix="xls" data-bind="click:downloadClick">Excel2003   </div>
    <div data-options="iconCls:'icon-page_excel'" suffix="xlsx" data-bind="click:downloadClick">Excel2007   </div>
    <div data-options="iconCls:'icon-ext-doc'" suffix="doc" data-bind="click:downloadClick">Word2003    </div>
</div>

<div class="container_12" style="position:relative;">
        <div class="grid_1 lbl">故障报告编号</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.FailureReportCode" class="z-txt "  /></div>
        <div class="grid_1 lbl">设备名称</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.EquipmentName" class="z-txt "  /></div>
        <div class="grid_1 lbl">报告状态</div>
        @*<div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.FailReportState" class="z-txt easyui-combobox"  /></div>*@
        <div class="grid_2 val">
            <input type="text" data-bind="comboboxValue:form.FailReportState" data-options="url:'/Commons/GetComboboxList?CodeType=FailReportState',valueField:'value',textField:'text'" class="z-txt easyui-combobox" />
        </div>

        <div class="clear"></div>
        <div class="grid_1 lbl">&nbsp;</div>
        <div class="grid_2 val">&nbsp;</div>
    <div class="clear"></div>

    <div class="prefix_9" style="position:absolute;top:5px;height:0;">
        <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;">查询</a>
        <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
    </div>
</div>

<table data-bind="datagrid:grid" style="display:none" id="tt">
    <thead>
        <tr>
            <th field="ID" hidden="true" sortable="true" align="left" width="80" editor="text">主键ID</th>
            <th field="FailureReportCode" sortable="true" align="left" width="150" >故障报告编号</th>
            <th field="EquipmentID" hidden="true" sortable="true" align="left" width="80" editor="text">设备ID</th>
            @*<th field="EquipmentName" sortable="true" align="left" width="80" editor="{type:'combobox',options:{}}">设备名称</th>*@

            <th field="EquipmentName" sortable="true" align="left" width="100" editor="{type:'combogrid',options:{
                     url:'/Commons/GetCommonSearchList',
                queryParams : {
                tableName:'[V_EQP_EquipmentFailReport]',
                searchField:'[ID],[EquipmentName],[AffiliatedWorkshopID],[AffiliatedWorkshopName]',
                firstFightField:'[EquipmentName]',
                
               
                connName:'Mms'
                },
                method: 'GET',
                panelWidth:600,
                fit:true,
                delay: 1000,
                mode: 'remote',
                value: 'ID',
                idField: 'EquipmentName',
                textField: 'EquipmentName',
                columns:[[
                { field: 'ID',title: '设备ID',width: 100 },
                { field: 'EquipmentName',title:'设备名称',width:150 },

                { field: 'AffiliatedWorkshopID',title:'车间ID',width:150 },
                { field: 'AffiliatedWorkshopName',title:'所属车间',width:150 }
                ]],
                     onSelect: function (rowIndex, rowData) {

                           var index =  $('#tt').datagrid('getRowIndex',$('#tt').datagrid('getSelected'));
                           $('#tt').datagrid('getEditor',{index:index,field:'EquipmentID'}).target.val(rowData['ID']);
                           $('#tt').datagrid('getEditor',{index:index,field:'EquipmentName'}).target.val(rowData['EquipmentName']);
                           $('#tt').datagrid('getEditor',{index:index,field:'WorkshopID'}).target.val(rowData['AffiliatedWorkshopID']);
                           $('#tt').datagrid('getEditor',{index:index,field:'WorkshopName'}).target.val(rowData['AffiliatedWorkshopName']);

                },
               keyHandler:{
                   query:function(keyword) {
                   var queryParams=$(this).combogrid('grid').datagrid('options').queryParams;
                   queryParams.keyword=keyword;
                   $(this).combogrid('grid').datagrid('options').queryParams=queryParams;
                   $(this).combogrid('grid').datagrid('reload');
                  $(this).combogrid('setValue', keyword);
                }}
                }}">设备名称</th>

            <th field="WorkshopID" hidden="true" sortable="true" align="left" width="80" editor="text">车间ID</th>
            <th field="WorkshopName" sortable="true" align="left" width="80" readonly="true" editor="text">所在车间</th>



            <th field="FailTime" sortable="true" align="left" width="100" editor="datebox" formatter="com.formatDate">故障时间</th>
            <th field="FailDescription" sortable="true" align="left" width="300" editor="text">故障描述</th>
            <th field="ReportPerson" sortable="true" align="left" width="80" editor="text">报障人</th>
            @*<th field="FailReportState" sortable="true" align="left" width="80" editor="{type:'combobox',options:{}}">报告状态</th>*@
            <th field="FailReportState" sortable="true" align="left" width="100" data-options="formatter:function(value,row){return com.formatCombobox('FailReportState',value);}"
                editor="{type:'combobox',options:{required:true,url:'/Commons/GetComboboxList?CodeType=FailReportState',method:'GET',panelWidth:100,panelHeight:100,valueField:'value',textField:'text'}}">报告状态</th>

            @*<th field="IsEnable" sortable="true" align="left" width="80" editor="{type:'combobox',options:{}}" formatter="com.formatCheckbox">是否可用</th>*@

            <th field="IsEnable" sortable="true" align="left" width="80" data-options="formatter:function(value,row){ return (value == true || value == 'true') ? '是':'否';}" editor="{type:'combobox',
            options:{data:[{value:true,text:'是'},{value:false,text:'否'}],panelWidth:100,panelHeight: 100,valueField: 'value',textField: 'text'}}">
                是否可用
            </th>

            <th field="CreatePerson" hidden="true" sortable="true" align="left" width="80" editor="text">创建人</th>
            <th field="CreateTime" hidden="true" sortable="true" align="left" width="80" editor="text">创建时间</th>
            <th field="ModifyPerson" hidden="true" sortable="true" align="left" width="80" editor="text">更新人</th>
            <th field="ModifyTime" hidden="true" sortable="true" align="left" width="80" editor="text">更新时间</th>
        </tr>
    </thead>
</table> 
