
@{
    ViewBag.Title = "QMS_RejectPartReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="/Content/js/viewModel/com.viewModel.searchEdit.js"></script>
<script type="text/javascript">
    var myself;
    using(['numberbox']);
    using(['validatebox','combotree','numberspinner','combobox','lookup','datebox','datetimebox','combogrid'],easyuifix.datagrid_editor_extend);
    var viewModel = function(data){ 
        var self = this;
        com.viewModel.searchEdit.apply(self,arguments);
        myself=self;
   
        this.addClick_C=function(){
            var Code="";
            com.ajax({
                type:'GET',
                url:'/api/Mms/QMS_RejectPartReport/GetCode',
                async:false,
                success:function(d){
                    Code = d;
                }
            });
            var row = $.extend({}, self.defaultRow,{BillCode:Code});
            self.gridEdit.addnew(row);
        }
        this.audit1Click = function () {
            var row = self.grid.datagrid('getSelected');
            if (row!=null) {
                var whereSql="ID="+row.ID;
                com.ajax({
                    type: 'GET',
                    url: self.urls.audit1+"?whereSql="+whereSql,
                    success: function (d) {
                        if (!d) {
                            com.message('success', "审核成功！");
                        }else if (d=="1") {
                            com.message('success', "单据已经审核过！");
                        }
                    }
                });
            }else
            {
                com.message('success', "请先选择单据！");
                return;
            }
          
        };
    } 
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    ko.bindingViewModel(new viewModel(data));
</script>
}
<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick_C">新增</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" title="编辑" data-bind="click:editClick">编辑</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" title="审核" data-bind="click:audit1Click">审核</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-save" title="保存" data-bind="click:saveClick">保存</a>
    <a href="#" plain="true" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'">导出</a>
</div>

<div id="dropdown" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-ext-xls'" suffix="xls" data-bind="click:downloadClick">Excel2003   </div>
    <div data-options="iconCls:'icon-page_excel'" suffix="xlsx" data-bind="click:downloadClick">Excel2007   </div>
    <div data-options="iconCls:'icon-ext-doc'" suffix="doc" data-bind="click:downloadClick">Word2003    </div>
</div>

<div class="container_12" style="position:relative;">
        <div class="grid_1 lbl">单据编号</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.BillCode" class="z-txt "  /></div>
        <div class="grid_1 lbl">项目名称</div>
        @*<div class="grid_2 val"><input type="text" data-bind="value:form.ProjectName" class="z-txt "  /></div>*@
    <div class="grid_2 val">
        <input type="text" data-bind="combogridValue:form.ProjectName" class="z-txt easyui-combogrid" data-options="url:'/Commons/GetCommonSearchList',
                queryParams : {
                     tableName:'[PMS_BN_Project]',
                         searchField:'[ContractCode],[ProjectName]',
                         firstFightField:'[ProjectName]',
                         connName:'Mms'
                },
                method: 'GET',
                panelWidth:300,
                fit:true,
                delay: 1000,
                mode: 'remote',
                value: 'ContractCode',
                idField: 'ProjectName',
                textField: 'ProjectName',
                columns:[[
                { field: 'ContractCode',title: '合同编号',width: 150 },
                { field: 'ProjectName',title:'项目名称',width:150 }
                    ]],
                 onSelect: function (rowIndex, rowData) {
                 myself.form.ContractCode(rowData['ContractCode']);
                 myself.form.ProjectName(rowData['ProjectName']);
               },
            keyHandler:{
            query:function(keyword) {
           var queryParams=$(this).combogrid('grid').datagrid('options').queryParams;
           queryParams.keyword=keyword;
           $(this).combogrid('grid').datagrid('options').queryParams=queryParams;
           $(this).combogrid('grid').datagrid('reload');
           }}" />
    </div>
        <div class="grid_1 lbl">零件名称</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.PartName" class="z-txt "  /></div>

        <div class="clear"></div>
        <div class="grid_1 lbl">&nbsp;</div>
        <div class="grid_2 val">&nbsp;</div>
    <div class="clear"></div>

    <div class="prefix_9" style="position:absolute;top:5px;height:0;">
        <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;">查询</a>
        <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
    </div>
</div>

<table data-bind="datagrid:grid" style="display:none" id="tt">
    <thead>
        <tr>
            <th field="ID" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="150" editor="text" >主键ID</th>
            <th field="BillCode" 	  	 sortable="true" 	 align="left" 	 width="80" >单据编号</th>
            <th field="ContractCode" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >合同编号</th>
            <th field="ProjectName" sortable="true" align="left" width="80" editor="text">项目名称</th>
            
            <th field="PartCode" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >零件编码</th>
            @*<th field="PartName" 	  	 sortable="true" 	 align="left" 	 width="80" editor="{type:'combobox',options:{}}" >零件名称</th>*@
            <th field="PartName" sortable="true" align="left" width="100" editor="{type:'combogrid',options:{
                        url:'/Commons/GetCommonSearchList',
                        required:true,
                        queryParams : {
                        tableName:'[PMS_BN_ProjectPart]',
                         searchField:'[ContractCode],[ProjectName],[PartCode],[PartName]',
                         firstFightField:'[PartCode]',
                                     connName:'Mms'
                            },
                            method: 'GET',
                            panelWidth:600,
                            fit:true,
                            delay: 1000,
                            mode: 'remote',
                            value: 'PartName',
                            idField: 'PartName',
                            textField: 'PartName',
                            columns:[[
                            { field: 'ContractCode',title: '合同编号',width: 150 },
                            { field: 'ProjectName',title: '项目名称',width: 150 },
                            { field: 'PartCode',title: '零件编码',width: 150 },
                            { field: 'PartName',title: '零件名称',width: 150 }
                                ]],
                    onSelect: function (rowIndex, rowData) {
                           var index =  $('#tt').datagrid('getRowIndex',$('#tt').datagrid('getSelected'));
                           $('#tt').datagrid('getEditor',{index:index,field:'ContractCode'}).target.val(rowData['ContractCode']);
                         $('#tt').datagrid('getEditor',{index:index,field:'ProjectName'}).target.val(rowData['ProjectName']);
                         $('#tt').datagrid('getEditor',{index:index,field:'PartCode'}).target.val(rowData['PartCode']);
                         $('#tt').datagrid('getEditor',{index:index,field:'PartName'}).target.val(rowData['PartName']);
                },
                 keyHandler:{
                   query:function(keyword) {
                   var queryParams=$(this).combogrid('grid').datagrid('options').queryParams;
                   queryParams.keyword=keyword;
                   $(this).combogrid('grid').datagrid('options').queryParams=queryParams;
                   $(this).combogrid('grid').datagrid('reload');
                  $(this).combogrid('setValue', keyword);
                }}
                }}">物料名称</th>

            <th field="Model" 	  	 sortable="true" 	 align="left" 	 width="80" editor="text" >型号规格</th>
            <th field="ProcessCode" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >工序编号</th>
            <th field="ProcessName" sortable="true" align="left" width="80" editor="text">工序名称</th>
            <th field="RejectQuantity" 	  	 sortable="true" 	 align="left" 	 width="80" editor="{type: 'numberbox',options:{min: 0}}" >不合格数量</th>
            <th field="WorkTeamCode" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >工作班组编码</th>
            <th field="WorkTeamName" sortable="true" align="left" width="80" editor="text">工作班组名称</th>
            <th field="TechCommand" 	  	 sortable="true" 	 align="left" 	 width="80" editor="text" >技术要求</th>
            <th field="InspectionRecord" 	  	 sortable="true" 	 align="left" 	 width="80" editor="text" >检验记录</th>
            <th field="LeaderRemark" 	  	 sortable="true" 	 align="left" 	 width="80" editor="text" >领导批示</th>
            <th field="InspectorCode" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >质检编码</th>
            <th field="InspectorName" sortable="true" align="left" width="80" editor="{type:'combogrid',options:{
                        url:'/Commons/GetCommonSearchList',
                    queryParams : {
                     tableName:'[SYS_BN_User]',
                         searchField:'[UserCode],[UserName]',
                         firstFightField:'[UserName]',
                                     connName:'Mms'
                            },
                            method: 'GET',
                            panelWidth:150,
                            fit:true,
                            delay: 1000,
                            mode: 'remote',
                            value: 'UserCode',
                            idField: 'UserName',
                            textField: 'UserName',
                            columns:[[
                            { field: 'UserCode',title: '员工编号',width: 200,hidden:true },
                            { field: 'UserName',title: '员工姓名',width: 150 }
                                ]],
                    onSelect: function (rowIndex, rowData) {
                           var index =  $('#tt').datagrid('getRowIndex',$('#tt').datagrid('getSelected'));
                           $('#tt').datagrid('getEditor',{index:index,field:'InspectorName'}).target.val(rowData['UserName']);
                           $('#tt').datagrid('getEditor',{index:index,field:'InspectorCode'}).target.val(rowData['UserCode']);
                },
                 keyHandler:{
                   query:function(keyword) {
                   var queryParams=$(this).combogrid('grid').datagrid('options').queryParams;
                   queryParams.keyword=keyword;
                   $(this).combogrid('grid').datagrid('options').queryParams=queryParams;
                   $(this).combogrid('grid').datagrid('reload');
                  $(this).combogrid('setValue', keyword);
                }}
                }}">质检名称</th>

            @*<th field="IsEnable" 	  	 sortable="true" 	 align="left" 	 width="80" editor="{type:'combobox',options:{}}" formatter="com.formatCheckbox">是否可用</th>*@
            <th field="IsEnable" sortable="true" align="left" width="70" data-options="formatter:function(value,row){ return (value ==1) ? '是':'否';}" editor="{type:'combobox',
            options:{data:[{value:1,text:'是'},{value:0,text:'否'}],panelWidth:100,panelHeight: 100,valueField: 'value',textField: 'text'}}">
                是否可用
            </th>
            <th field="ApproveState" sortable="true" align="left" width="70" data-options="formatter:function(value,row){ return (value ==1) ? '已审核':'未审核';}" editor="{type:'combobox',
            options:{data:[{value:2,text:'未审核'},{value:1,text:'已审核'}],panelWidth:100,panelHeight: 100,valueField: 'value',textField: 'text'}}">
                单据状态
            </th>
            <th field="CreatePerson" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >创建人</th>
            <th field="CreateTime" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >创建时间</th>
            <th field="ModifyPerson" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >更新人</th>
            <th field="ModifyTime" 	 hidden="true" 	 sortable="true" 	 align="left" 	 width="80" editor="text" >更新时间</th>
        </tr>
    </thead>
</table> 
