<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <p>我是李晓倩</p>
    <textarea>我是王大哈</textarea>
    <h1>我是小混混</h1>
    <span>我是弹弹弹</span>
    <div data-value="我是吕琦琪">你猜我是谁</div>
    <input type="radio" name="radio_demo" value="男" />男
    <input type="radio" name="radio_demo" value="女" />女
    <br />
    <input type="checkbox" value="吃饭" name="check_demo" />
    <input type="checkbox" value="喝酒" name="check_demo" />
    <input type="checkbox" value="抽烟" name="check_demo" />
    <br />
    <button>捕获</button>
    <br />
    <button>设置</button>
</body>
</html>
