@{
    ViewBag.Title = "APS_ProjectProduceDetial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="/Content/js/viewModel/com.viewModel.searchEdit.js"></script>
    @*<script src="~/Content/Highcharts/highcharts.js"></script>*@
    <script src="~/Content/Highcharts/highstock.js"></script>
    <script src="~/Content/Highcharts/modules/exporting.js"></script>
    <script type="text/javascript">
        using(['validatebox', 'combobox','lookup','numberbox','datebox','datetimebox','combogrid','combotree','extend','menu']);
        var myself;
        var workGroupA="";
        var self
        var viewModel = function(data){
            self = this;
            com.viewModel.searchEdit.apply(self,arguments);

            //this.SearchDialog = function () {
            //    var setting = {
            //        type: this.type,
            //        targetField: this.targetField,
            //        sourceField: this.sourceField,
            //        settingArray: this.settingArray
            //    }
            //    //settingArray 0:width 1:height 2:xmlName
            //    var target = parent.$('#CommonSearchDialog').length ? parent.$('#CommonSearchDialog') : parent.$('<div id="CommonSearchDialog"></div>').appendTo('body');
            //    utils.clearIframe(target);
            //    var opt;
            //    opt = { title: '列表', width: setting.settingArray[0], height: setting.settingArray[1], modal: true, collapsible: false, minimizable: false, maximizable: true, closable: true };
            //    opt.content = "<iframe src='/mms/home/CommonDialog?xmlName=" + setting.settingArray[2] + "' style='height:100%;width:100%;border:0;' frameborder='0'></iframe>";  //frameborder="0" for ie7
            //    params = { xmlName: setting.settingArray[2] };
            //    opt.paramater = params;
            //    opt.onSelect=function (data){
            //        var workGroup="";
            //        for (var i in data) {
            //            workGroup=data[i].TeamCode;
            //        }
            //        workGroupA=workGroup;
            //        //self.form.WorkGroupID(workGroup);
            //        //alert(self.form.WorkGroupID._latestValue)
            //        $("#WorkGroupID").val(workGroup);
                    
            //    }
            //    target.window(opt);
            //}
        }
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        ko.bindingViewModel(new viewModel(data));

        showPic();
       
        function showPic(){
            var time = new Date();
            var time1=time.getFullYear()+"-"+(time.getMonth()+1)+"-"+(time.getDate());
            var time2=time.getFullYear()+"-"+(time.getMonth()+1)+"-"+(time.getDate());
            PlanedStartTime=com.formatTime(time1); //显示系统时间
            PlanedFinishTime=com.formatTime(time2);
            try{
                var WorkGroupID=$("#WorkGroupName").combobox('getValue');
            }catch(e){
                WorkGroupID="1";
            }
            //var WorkGroupID=workGroupA;

            //var PlanedStartTime;
            //var PlanedFinishTime;
            //var WorkGroupID;
            
            //try{
            //    PlanedStartTime=$("#PlanedStartTime").datebox("getValue");
            //    PlanedFinishTime=$("#PlanedFinishTime").datebox("getValue");
            //    WorkGroupID=$("#WorkGroupID").val();
            //}catch(e){
            //    PlanedStartTime=com.formatTime(time); //显示系统时间
            //    PlanedFinishTime=com.formatTime(time);

            //    WorkGroupID="";
            //}
           
            com.ajax({
                type: 'GET',
                url: "/api/mms/APS_ProjectProduceDetial/GetWorkGroupInfo",
                data:{PlanedStartTime:PlanedStartTime,PlanedFinishTime:PlanedFinishTime,WorkGroupID:WorkGroupID},
                success: function (d) {
                    var chart = Highcharts.chart('container', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: '班组资源图表'
                        },
                        xAxis: {
                            min: 0,
                            max: 4,
                            tickLength: 0,
                            categories: d.xdata,
                            scrollbar: {
                                enabled: true,
                            }
                        },
                        yAxis: {
                            min: 0,
                            max:720,
                            tickInterval:240,
                            title: {
                                text: '分钟'
                            },
                            plotLines:[{
                                color:'red',           //线的颜色，定义为红色
                                dashStyle:'solid',     //默认值，这里定义为实线
                                value:480,               //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                                width:2                //标示线的宽度，2px
                            }],
                            stackLabels: {  // 堆叠数据标签
                                enabled: true,
                                //style: {
                                //    fontWeight: 'bold',
                                //    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                //}
                            }
                        },
                        legend: {
                            align: 'right',
                            verticalAlign: 'top',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.x + '</b><br/>' +
                                    this.series.name + ': ' + this.y + '<br/>' +
                                    '总量: ' + this.point.stackTotal;
                            }
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                    style: {
                                        // 如果不需要数据标签阴影，可以将 textOutline 设置为 'none'
                                        textOutline: '1px 1px black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: '班组资源',
                            data: d.ydata
                        }]
                    });
                }
            });
        }
    </script>
}
<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
    @*<a href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick">新增</a>
        <a href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" title="编辑" data-bind="click:editClick">编辑</a>
        <a href="#" plain="true" class="easyui-linkbutton" icon="icon-save" title="保存" data-bind="click:saveClick">保存</a>
        <a href="#" plain="true" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'">导出</a>*@
    @*<a id="a_add" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" data-bind="event: { click: function(data, event) {SearchDialog.call({type:'form',targetField:'Name',sourceField:'Name','settingArray':['850','400','ChooseWorkGroup']})}}">选择项目</a>*@

</div>

<div id="dropdown" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-ext-xls'" suffix="xls" data-bind="click:downloadClick">Excel2003   </div>
    <div data-options="iconCls:'icon-page_excel'" suffix="xlsx" data-bind="click:downloadClick">Excel2007   </div>
    <div data-options="iconCls:'icon-ext-doc'" suffix="doc" data-bind="click:downloadClick">Word2003    </div>
</div>

<div class="container_12" style="position:relative;">
    <div class="grid_1 lbl">计划开始时间</div>
    <div class="grid_2 val"><input type="text" id="PlanedStartTime" disabled="disabled" data-bind="dateboxValue:form.PlanedStartTime" class="z-txt easyui-datebox" /></div>
    <div class="grid_1 lbl">计划结束时间</div>
    <div class="grid_2 val"><input type="text" id="PlanedFinishTime" disabled="disabled" data-bind="dateboxValue:form.PlanedFinishTime" class="z-txt easyui-datebox" /></div>
    <div class="grid_1 lbl">班组</div>
    @*<div class="grid_2 val"><input type="text" id="WorkGroupID" data-bind="Value:form.WorkGroupID" class="z-txt" /></div>*@
    <div class="grid_2 val">
        <input type="text" id="WorkGroupName" data-bind="combogridValue:form.WorkGroupName" class=" z-txt easyui-combogrid" data-options="url:'/Commons/GetCommonSearchList',
                queryParams : {
                     tableName:'[SYS_WorkGroup]',
                         searchField:'[TeamCode],[TeamName],[IsEnable]',
                         firstFightField:'[TeamName]',
                         connName:'Mms'
                },
                method: 'GET',
                panelWidth:600,
                fit:true,
                delay: 1000,
                mode: 'remote',
                value: 'TeamName',
                idField: 'TeamCode',
                textField: 'TeamName',
                columns:[[
                { field: 'TeamCode',title: '班组编码',width: 100 },
                   { field: 'TeamName',title: '班组名称',width: 100 },
                { field: 'IsEnable',title:'是否可用',width:150 }
                    ]],
            keyHandler:{
            query:function(keyword) {
           var queryParams=$(this).combogrid('grid').datagrid('options').queryParams;
           queryParams.keyword=keyword;
           $(this).combogrid('grid').datagrid('options').queryParams=queryParams;
           $(this).combogrid('grid').datagrid('reload');
           }}" />
    </div>
    <div class="clear"></div>
    <div class="prefix_9" style="position:absolute;top:5px;height:0;">
        <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;" onclick="showPic()">查询</a>
        <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
    </div>
</div>

<div id="container" style="height:400px; width:90%;"></div>

