<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--数据库连接字符串-->
    <add name="ConnString" connectionString="server=120.79.95.158;database=HBHC_Mes;uid=HBHC;pwd=1234" />
  </connectionStrings>
  <appSettings>
    <!--时间间隔，检索周期（单位/s）-->
    <add key="Interval" value="5" />
    <!--每次执行最多n条数据-->
    <add key="ExecuteNum" value="1000"/>
  </appSettings>
</configuration>