<link href="~/Content/js/jquery-easyui-1.7.0/themes/icon.css" rel="stylesheet" />
<link href="~/Content/js/jquery-easyui-1.7.0/themes/default/easyui.css" rel="stylesheet" />

<style type="text/css">

    body {
        margin: 2px;
    }
</style>

<input id="topContCode" style="display: none;" />
<input id="topProjectName" style="display: none;" />
<input id="topPartCode" style="display: none;" />
<input id="topProductID" style="display: none;" />
<div id="z-toolbar">
    <a class="easyui-linkbutton" plain="true" onclick="SearchDialog()" icon="icon-search">选择项目零件</a>
</div>
<table id="tt" style="height: 92%;"></table>

<script src="~/Content/js/jquery-easyui-1.7.0/jquery.min.js"></script>
<script src="~/Content/js/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
<script src="~/Content/js/core/utils.js"></script>
<script src="~/Content/js/core/common.js"></script>

<script type="text/javascript">

    $().ready(function () {
        var ChoosedRows = [];
        $('#tt').treegrid({
            queryParams: { PartCode: '0', VersionCode: '1' },
            //url: '/api/Mms/MES_BN_ProductProcessRoute/GetIsSalefyMadeBomTree?PartCode=3030JA000000000493&VersionCode=1',
            url: '/api/Mms/MES_BN_ProductProcessRoute/GetIsSalefyMadeBomTree',
            method: 'get',
            toolbar: '#z-toolbar',
            animate: true,
            rownumbers: true,
            striped: true,
            singleSelect: true,
            idField: 'PartCode',
            treeField: 'PartFigureCode',
            columns: [[
                //{ title: 'PartCode', field: 'PartCode', width: 300 },
                //{ field: 'ParentCode', title: 'ParentCode', width: 200 },
                //{ title: ' ', field: 'Text', width: 400 },
                { title: '图号', field: 'PartFigureCode', width: 300 },
                { title: 'ID', field: 'ID', hidden: 'true', width: 60 },
                { title: '零件名称', field: 'PartName', width: 210 },
                { title: '材质', field: 'MaterialCode', width: 150 },
                { title: '单台数量', field: 'PartQuantity', width: 150 },
                //{ title: '下料需求总数量数量', field: 'BlankingTotal', width: 100 },
                //{ title: '下料数量', field: 'BlankingNum', width: 100, editor: 'text' },
                //{ title: '物料属性', field: 'IsSelfMade', width: 125, formatter: function (value) { return value == 1 ? '加工件' : value == 0 ? "成品件" : "未知" }, editor: { type: 'combobox', options: { data: [{ "value": "1", "text": "自制件" }, { "value": "0", "text": "外购件" }], valueField: "value", textField: "text" } } },
                { title: '物料属性', field: 'IsSelfMade', width: 125, formatter: function (value) { return value == 1 ? '加工件' : value == 0 ? "成品件" : "未知" } },
                { title: '是否关键件', field: 'IsCrux', width: 125, formatter: function (value) { return value == 1 ? '是' : value == 0 ? "否" : "未知" } },
                //{ title: '是否有效', field: 'IsEnable', width: 100, formatter: function (value) { return value == 1 ? '有效' : value == 0 ? "无效" : "未知" }, editor: { type: 'combobox', options: { data: [{ "value": 1, "text": "有效" }, { "value": 0, "text": "无效" }], valueField: "value", textField: "text" } } }
                {
                    title: '材料类型', field: 'MateType', width: 100,
                    formatter: function (value) {
                        switch (value) {
                            case 0: {
                                return '其他';
                                break;
                            }
                            case 1: {
                                return '板材';
                                break;
                            }
                            case 2: {
                                return '棒材';
                                break;
                            }
                            case 3: {
                                return '型材';
                                break;
                            }
                            case 4: {
                                return '铸件';
                                break;
                            }
                            case 5: {
                                return '锻件';
                                break;
                            }
                            default:
                                return '无';
                                break;
                        }
                    },
                    editor:
                        {
                            type: 'combobox', options: {
                                data: [{ value: '', text: '无' }, { value: '0', text: '其他' }, { value: '1', text: '板材' }, { value: '2', text: '棒材' }, { value: '3', text: '型材' }, { value: '4', text: '铸件' }, { value: '5', text: '锻件' }],  //data即combobox的options
                                valueField: "value",//valueField为option的value对应的键
                                textField: "text",  //textField为option的text对应的键
                                editable: false,
                                panelHeight: 230,
                                required: false,
                                //onChange: function (MateType) {
                                //    //alert(1);
                                //    var ProcessBomID = $('#tt').treegrid('getSelections')[0]['ID'];
                                //    com.ajax({
                                //        type: 'post',
                                //        url: '/api/mms/MES_BN_ProductProcessRoute/PostSetMateType',
                                //        data: JSON.stringify({ ProcessBomID: ProcessBomID, MateType: MateType }),
                                //        async: false,
                                //        success: function (d) {
                                //            //$('#tt').treegrid('reload');
                                //            com.message("success", "设置成功!");
                                //        }
                                //    });
                                //}
                            }
                        }
                },
                { title: '是否有效', field: 'IsEnable', width: 100, formatter: function (value) { return value == 1 ? '有效' : value == 0 ? "无效" : "未知" } }
            ]],
            rowStyler: function (row, index) {
                if (row.IsSelfMade == "1") {
                    return 'background-color:#D8FEFE;';
                }
                else {
                    return 'background-color:#FBECDB;';
                }
            },
            loadFilter: function (d) {
                if (d != null && d.length > 0) {
                    var jsonData = eval(d);
                    return utils.toTreeData(jsonData, 'PartCode', 'ParentCode', "children");
                }
                else {
                    return '';
                }
            },
            onAfterEdit: function (row, column) {
                //console.log(arguments);
                //var ProcessBomID = $('#tt').treegrid('getSelections')[0]['ID'];
                var ProcessBomID = row.ID;
                var MateType = column.MateType;
                //alert(ProcessBomID);
                //alert(MateType);
                com.ajax({
                    type: 'post',
                    url: '/api/mms/MES_BN_ProductProcessRoute/PostSetMateType',
                    data: JSON.stringify({ ProcessBomID: ProcessBomID, MateType: MateType }),
                    async: false,
                    success: function (d) {
                        $('#tt').treegrid('reload');
                        com.message("success", "设置成功!");
                    }
                });
            },
            onDblClickCell: function (columnName, row) {
                //console.log(arguments);
                if (columnName == "IsSelfMade") {
                    if (row.IsSelfMade != "0" && row.IsSelfMade != "1") {
                        com.message("warning", '数据异常！');
                    } else {
                        var value = row.IsSelfMade == "0" ? "1" : "0";
                        $.ajax({
                            type: "GET",
                            url: '/api/Mms/MES_BN_ProductProcessRoute/GetUpdateProcessIsSelfMade2?pCode=' + row.PartCode + "&selfMadeValue=" + value,
                            async: false,
                            success: function (result) {
                                com.message(result.Result ? "success" : "warning", result.Msg);
                                $('#tt').treegrid('reload');
                            }
                        });
                    }
                }
                else if (columnName == "IsCrux") {
                    if (row.IsCrux != "0" && row.IsCrux != "1") {
                        com.message("warning", '数据异常！');
                    } else {
                        var value = row.IsCrux == "0" ? "1" : "0";
                        $.ajax({
                            type: "GET",
                            url: '/api/Mms/MES_BN_ProductProcessRoute/GetUpdateIsCrux?ID=' + row.ID + "&IsCrux=" + value,
                            async: false,
                            success: function (result) {
                                com.message("success", "设置成功!");
                                $('#tt').treegrid('reload');
                            }
                        });
                    }
                }
                else if (columnName == "MateType") {
                    $("#tt").datagrid('beginEdit', row.PartCode);
                    ChoosedRows.push(row.PartCode);
                }
            },
            onClickRow: function (row) {
                //$("#tt").datagrid('endEdit', row.PartCode);
                //var allRows = $('#tt').datagrid("getRows");;
                //console.log(allRows);
                //for (var i in allRows) {
                //    var PartCode = allRows[i].PartCode;
                //console.log(ChoosedRows);
                for (var i in ChoosedRows) {
                    $("#tt").datagrid('endEdit', ChoosedRows[i]);
                }
                //$("#tt").datagrid('endEdit', '1DF745EECQ2400001');
                //$('#tt').treegrid('reload');
                //}
                //console.log(allRows);
            },
            //onDblClickCell: function () {
            //    console.log(arguments);
            //}
        });

    })

    //查询工艺bom树
    function SearchDialog() {
        var target = parent.$('#CommonSearchDialog').length ? parent.$('#CommonSearchDialog') : parent.$('<div id="CommonSearchDialog"></div>').appendTo('body');
        utils.clearIframe(target);
        var opt;
        opt = { title: '列表', width: 800, height: 650, modal: true, collapsible: false, minimizable: false, maximizable: true, closable: true };
        opt.content = "<iframe src='/mms/home/CommonDialog?xmlName=ChooseProjectPart' style='height:100%;width:100%;border:0;' frameborder='0'></iframe>";  //frameborder="0" for ie7
        params = { xmlName: 'ChooseProjectPart' };
        opt.paramater = params;
        opt.onSelect = function (data) {
            $("#topContCode").val(data[0].ContractCode);
            $("#topProjectName").val(data[0].ProjectName);
            $("#topPartCode").val(data[0].PartCode);
            $("#topProductID").val(data[0].ProductID);
            var params = {
                PartCode: data[0].PartCode,
                VersionCode: data[0].VersionCode
            };
            //com.ajax({
            //    type: 'GET',
            //    url: '/api/Mms/MES_BN_ProductProcessRoute/GetProcessBom?ContractCode=' + data[0].ContractCode + '&PartCode=' + data[0].PartCode,
            //    cache: false,
            //    async: false,
            //    success: function (d) {
            //        if (d > 0) {
            //            if (confirm("确定要覆盖工艺BOM数据吗?")) {
            //                $.ajax({
            //                    type: "GET",
            //                    url: '/api/Mms/MES_BN_ProductProcessRoute/GetUpdateGYBOMTree?PartCode=' + data[0].PartCode + '&VersionCode=' + data[0].VersionCode + "&ContractCode=" + data[0].ContractCode + "&ProductID=" + data[0].ProductID,
            //                    async: false,
            //                    success: function (model) {
            //                        //debugger;
            //                    }
            //                })
            //            }
            //        } else {
            //            $.ajax({
            //                type: "GET",
            //                url: '/api/Mms/MES_BN_ProductProcessRoute/GetUpdateGYBOMTree?PartCode=' + data[0].PartCode + '&VersionCode=' + data[0].VersionCode + "&ContractCode=" + data[0].ContractCode + "&ProductID=" + data[0].ProductID,
            //                async: false,
            //                success: function (model) {
            //                }
            //            })
            //        }
            //    }
            //});
            $('#tt').treegrid("options").queryParams = params;
            $('#tt').treegrid('reload');//重新加载树
            $('#tt').treegrid('collapseAll');//默认折叠所有节点
        };
        target.window(opt);
    };




</script>
