<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="API" value="120.79.95.158:8011"/>
    <add key="SignalRURI" value="http://120.79.95.158:8011/signalr/hubs"/>
    <add key="FtpSite" value="120.79.95.158:21"/>
    <add key="FtpUid" value="test"/>
    <add key="FtpPwd" value="3212512"/>
    <add key="LocalKey" value="super"/>
    <add key="FtpSiteDicPath" value="UploadTempDic/"/>
  </appSettings>
</configuration>
